@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body, * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

header {
    background-color: red;
}

main {
    background-color: royalblue;
}

footer {
    background-color: saddlebrown;
}

.container {
    width: 1200px;
    margin: auto;
}

ul li {
    display: inline;
}

